@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-display: block;
}


@font-face{
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-weight: 600;
  font-display: block;
}



@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Montserrat-Regular.woff'), format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block;
}

@font-face{
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: block;
    font-style: normal;
}

@font-face{
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: block;
    font-style: normal;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-family: "Montserrat",sans-serif;
    color: #fff;
    margin: 0;
  }
  

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.7066176812521884) 100%, rgba(37,37,37,0.8830882694874825) 100%, rgba(9,9,121,0.6393907904958859) 100%);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.header_container {
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0 13px;
}

.point_menu {
  color: #fff;
  margin-left: 70px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.195em;
  color: #fff;
  text-decoration: none;
}

.point_menu:hover {
  color: #FF0000;
  transition: .3s;
}

.header_menu {
  display: flex;
  margin: 0 auto;
}


.point_menu{
  margin-left:0;
}


.point_menu:nth-child(4){
  color: #FF0000;
}


.shop_cart:hover path{
  fill: #FF0000;
  transition: .3s;
}

.shop_cart{
  margin-left: 0 auto;
}


.gamburger_menu{
  width: 40px;
  height: 28px;
}


.logo svg{
  max-width:100%;
}

.logo{
  flex: 0 0 145px;
}

.menu{
  margin-left:auto;
}

/* ==========RESPONSIVE_HEADER========= */


  /* ===========1537px=========== */

  @media screen and (max-width:1537px) {
    .header_container{
      width: 100%;
      max-width: 1085px;
    }
  
    .header{
      height: 80px;
    }
  
    .point_menu{
      font-size: 16px;
    }
  
    .shop_cart{
      width: 28px;
      height: 28px;
    }
}

 /* ==================================== */


      /* ===========1280px=========== */


    @media screen and (max-width:1280px){
        .header_container{
          width: 100%;
          max-width: 980px;
        }
      
        .point_menu{
          font-size: 14px;
        }
      
        .shop_cart{
          width: 25px;
          height: 25px;
        }
}        

/* ======================== */

/* ===========1025px=========== */


@media screen and (max-width:1025px){
    .header_container{
      width: 100%;
      max-width: 850px;
    }
  
    .header{
      height: 60px;
    }
  
  
  
    .point_menu{
      font-size: 13px;
      margin-left: 50px;
    }
  
    .shop_cart{
      width: 22px;
      height: 22px;
    }
  
  
    .logo{
      flex: 0 0 120px;
    }
}

  /* =========================================== */


  /*==============872PX========================  */

@media screen and (max-width:872px){
    .header_container{
      width: 100%;
      max-width: 765px;
      margin: 0 auto;
    }
  
  
    
  
    .point_menu{
      font-size: 12px;
      margin-left: 50px;
    }
  
    .shop_cart{
      width: 20px;
      height: 20px;
      margin-left: auto;
    }

    .header_menu{
        margin: 0 auto;
      }
}


/* ==================769px=================== */

@media screen and (max-width:769px){
  .header_menu{
    display: none;
    background: #252525;
}

  .header {
    height: 50px;
}

  .logo {
    flex: 0 0 100px;
}
/* ================BURGER__MENU=============== */

  .menu-btn{
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 20;
    overflow: hidden;
    margin-left: 20px;
    
}

  .menu-btn span{
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    transition: all .5s;
    display: block;
    border-radius: 2px;
}


  .menu-btn span:nth-of-type(1){
    width: 20px;
    height: 3.1px;
    margin-left: 5px;
  }

  .menu-btn span:nth-of-type(2){
    top:calc(50% - 6px);
}

  .menu-btn span:nth-of-type(3){
    top:calc(50% + 6px);
}

  

  .menu.active{
    transform: translateX(0);
    position: fixed;
    top: 50px;
    right: 0; 
    display: block;
}

.menu a{
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.195em;
  color: #fff;
  text-decoration: none;
  display: block;
  cursor:pointer;
  padding: 15px 25px;
  transition: ease-in 0.3s;
}

.menu a:first-child{
  margin-top: 0;
}



  .menu-btn.active span:first-of-type{
    transform: translateX(100%);
}

  .menu-btn.active span:nth-of-type(2){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

  .menu-btn.active span:nth-of-type(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

  .point_menu{
    margin-left: 0;
    transition: .4s;
  }
}

/* ============================== */

/* ==============684PX============= */ 


@media screen and (max-width:684px){
    .menu-btn{
      right:0;
    }
  
    .menu a:last-child{
      margin:0;
    }
}

  /* ==================================== */

  /* =====================
==============630PX============= */

@media screen and (max-width:630px){
    .menu-btn{
      right:0;
    }
  
  
    .menu.active{
     left: 0;
  }
  
}

    /* ==================================== */


  

/* =====================
==============500PX============= */


@media screen and (max-width:500px){
  .menu a{
    font-size: 15px;
  }
}
/* ==================================== */













.intro_img{
  background: url('../img/paydirt.png') no-repeat center;
  height: 100vh;
  background-size: cover;
}

@media screen and (max-width:500px){
  .intro_img{
    background-position-x: -4rem;
  }
}


@media screen and (max-width:700px){
  .intro_img{
    background-position-x: -6rem;
  }
}








/* ================MAIN BODY=====
=============== */


.main_body{
  width: 100%;
  margin-top: 200px;
}

.main_body_conteiner{
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
}

.main_body_inner{
  background:rgba(196, 196, 196, 0.22);
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px 0;
}

.main_body_inner img{
  display: block;
  width: 50%;
  object-fit: cover;
}

.main_body_arguments{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 90px;
}



.h1{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.83);
  font-size: 36px;
  letter-spacing: 0.04em;
}

.main_body_title{
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.83);
  letter-spacing: 0.04em;
}

.main_body_subtitle{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  line-height: 1.4;
}

.a1{
  margin-bottom: 25px;
}

.p1{
  margin-bottom: 30px;
}

.a2{
  margin-bottom: 25px;
}


.arguments_button{
  padding: 15px 30px;
  background:#CC0000 ;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: ease-in-out .3s;
  font-size: 18px;
}

.p2{
  margin-bottom: 60px;
}

.arguments_button:hover{
  background: #860202;
  transition: ease-in-out .3s;
}

.main_body_responsive{
  display: none;
}






/* ==============RESPONSIVE MAIN BODY===
================*/


@media screen and (max-width:1750px){
  .main_body_conteiner {
    max-width: 1350px;
  }

  .main_body_arguments{
    padding: 0 80px;
  }

  .p2 {
    margin-bottom: 50px;
  }
}


@media screen and (max-width:1600px){
  .main_body_conteiner {
    max-width: 1200px;
  }

  .main_body_title{
    font-size: 26px;
  }

  .main_body_subtitle{
    font-size:17px;
  }

  .h1{
    font-size: 32px;
  }

  .main_body_inner:nth-of-type(1){
    margin-top: 20px;
  }
}


@media screen and (max-width:1538px){
  .main_body_conteiner {
    max-width: 1070px;
  }

  .p1 {
    margin-bottom: 20px;
  }

  .p2 {
    margin-bottom: 35px;
}

  .main_body_title {
    font-size: 23px;
  }


  .main_body_subtitle {
    font-size: 16px;
  }

  .arguments_button{
    padding: 12px 22px;
    font-size: 15px;
  }

  .h1 {
    font-size: 28px;
  }

  .main_body_arguments {
    padding: 40px 60px 20px;
  }
}


@media screen and (max-width:1120px){
  .main_body_conteiner {
    max-width: 900px;
  }

  .main_body_title {
    font-size: 22px;
  }

  .a1 {
    margin-bottom: 10px;
  }

  .main_body_subtitle {
    font-size: 15px;
  }

  .arguments_button {
    padding: 9px 17px;
  }

  .h1 {
    font-size: 23px;
  }

  .main_body_arguments {
    padding: 24px 50px 35px;
  }
}


@media screen and (max-width:1026px){
  .main_body_conteiner {
    max-width: 830px;
  }

  .main_body_title {
    font-size: 19px;
  }

  .main_body_subtitle {
    font-size: 14px;
}

  .main_body {
    margin-top: 140px;
  }
}

@media screen and (max-width:873px){
  .main_body_conteiner {
    max-width: 730px;
  }

  .arguments_button {
    padding: 4px 13px;
    font-size: 11px;
  }

  .p2 {
    margin-bottom: 15px;
  }

  .main_body_subtitle {
    font-size: 12px;
  }

  .main_body_arguments {
    padding: 20px 35px 10px;
  }

}


@media screen and (max-width:770px){
  .main_body_inner{
    display: none;
  }


  .main_body_responsive{
    text-align: center;
    background: rgba(196, 196, 196, 0.22);
    display: flex;
    justify-content: center;
    flex-direction:column;
    margin: 30px 15px;
  }

  .main_body_responsive:nth-of-type(1){
    margin-top: 10px;
  }


  .main_body_arguments{
    text-align: center;
    width: 100%;
    padding: 30px
  }

  .main_body_subtitle {
    font-size: 14px;
  }
  
  .arguments_button {
    padding: 9px 18px;
    font-size: 13px;
  }

  .p2 {
    margin-bottom: 30px;
  }

  .main_body_conteiner {
    max-width: 680px;
  }

  .h1 {
    padding: 0 0 0 13px;
  }

  .main_body{
    margin-top: 50px;
  }

}












/* ===================DIGS PART=======
=================== */

.digs_part{
  width: 100%;
  margin-top: 150px;
}

.digs_part_conteiner{
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dig_block {
  margin: 0 10px 70px;
  width: 31.8%;
}

.h1{
  margin: 0 0 0 7px;
}




.digs_inner{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.dig_img img{
  display: block;
  object-fit: cover;
  max-width: 100%;
}



.dig_category{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #626262;
  margin: 10px 0;
}

.dig_argument{
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.83);
  line-height: 1.4;
  margin-bottom: 15px;
}

.dig_button{
  text-decoration: none;
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 19px;
  transition: .2s;
}


.dig_button:hover{
  color: #FF0000;
  text-decoration: underline;
  transition: .2s;
}


.a4{
  margin-bottom: 50px;
}








/* ===============RESPONSIVE DIGS PART==========
=================== */


@media screen and (max-width:1750px){
  .digs_part_conteiner{
    max-width: 1350px;
  }
}


@media screen and (max-width:1600px){
  .digs_part_conteiner {
    max-width: 1200px;
  }

  .dig_block {
    width: 31.6%;
  }

  
}


@media screen and (max-width:1540px){
  .digs_part_conteiner {
    max-width: 1070px;
  }

  .dig_block {
    width: 31.4%;
  }
}


@media screen and (max-width:1120px){
  .digs_part_conteiner {
    max-width: 900px;
  }

  .dig_block {
    width: 31%;
  }

  .dig_category{
    font-size: 14px;
  }

  .dig_argument{
    font-size: 17px;
  }

  .dig_button{
    font-size: 17px;
  }
}

@media screen and (max-width:1027px){
  .digs_part_conteiner {
    max-width: 830px;
  }

  .dig_block {
    width: 30.9%;
  }
}


@media screen and (max-width:874px){
  .digs_part_conteiner {
    max-width: 730px;
  }

  .dig_block {
    width: 30.5%;
  }

  .dig_argument {
    font-size: 15px;
  }

  .dig_category {
    font-size: 12px;
  }

  .dig_button {
    font-size: 15px;
  }
}

@media screen and (max-width:760px){
  .dig_block {
    width: 45%;
  }

  .digs_part_conteiner {
    max-width: 690px;
  }
}


@media screen and (max-width:400px){
  .dig_block {
    width: 90%;
  }

  .a4 {
    margin-bottom: 20px;
  }
}















/* ======================FOOTER SUPPORT================= */



.footer_support{
  width: 100%;
  background-color:#252525;
}

.support_conteiner{
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 0 10px;
}

.support_inner{
  display: flex;
  justify-content: space-between;
  padding: 91px 0 28px;
}

.support_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 2.2;
  letter-spacing: 0.195em;
  color: #fff;
  margin-bottom: 20px;
}

.support_subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 2.2;
  letter-spacing: 0.195em;
  color:#5F5F5F;
  margin-bottom: 10px;
  cursor:pointer;
  transition: ease-in .2s;
}

.support_subtitle:hover{
  color:#fff;
  transition: ease-in .2s;
}


/* ===============RESPONSIVE SuPPORT=========== */


/* ====================1537px============== */



@media screen and (max-width:1601px){
  .support_conteiner{
    max-width: 1250px;
  }
}




@media screen and (max-width:1537px){
  .support_conteiner{
    max-width: 1085px ;
  }
}

/* =========================================== */


/* ====================1280px============== */

@media screen and (max-width:1280px){
  .support_inner {
    padding: 80px 0 28px;
  }

  .support_title {
    font-size: 15px;
  }

  .support_subtitle{
    font-size: 14px;
  }

  .support_conteiner{
    max-width: 980px;
  }
}

/* =========================================== */


/* ====================1024px============== */

@media screen and (max-width:1024px){
  .support_inner {
    padding: 65px 0 28px;
  }

  .support_conteiner{
    max-width: 850px;
  }
}

/* =========================================== */

/* ====================890px============== */

@media screen and (max-width:890px){
  .support_conteiner {
    max-width: 765px;
  }

  .support_title {
    font-size: 13px;
  }

  .support_subtitle {
    font-size: 13px;
  }

}

/* =========================================== */


/* ====================785px============== */

@media screen and (max-width:785px){
  .support_conteiner {
    max-width: 690px;
  }

  .support_title{
    margin-bottom: 13px;
  }

  .support_subtitle{
    margin-bottom: 6px;
  }

  .support_inner{
    padding: 45px 0 20px;
  }
}


/* =========================================== */


/* ====================700px============== */

@media screen and (max-width:700px){
  .support_conteiner {
    max-width: 600px;
  }

  .support_inner {
    padding: 35px 0 15px;
  }

  .support_title {
    margin-bottom: 10px;
    font-size: 13px;
  }

  .support_subtitle {
    font-size: 13px;
  }

}

/* =========================================== */

/* ====================600px============== */

@media screen and (max-width:600px){
  .support_conteiner {
    max-width: 510px;
  }

  .support_inner {
    padding: 30px 0 9px;
  }

  .support_title {
    margin-bottom: 9px;
    font-size: 10px;
  }

  .support_subtitle {
    font-size: 11px;
    margin-bottom: 6px;
  }
}


/* =========================================== */


/* ====================500px============== */

@media screen and (max-width:500px){
  .support_inner{
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 7px;
  } 

  .support_block{
    width: 50%;
    padding-top: 10px;
  }

  .support_title {
    margin-bottom: 5px;
  }
  .support_subtitle {
    margin-bottom: 3px;
  }


}

/* =========================================== */




/* ===============FOOTER END===================== */



.footer_end-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1410px;
  margin: 0 auto;
  padding: 30px 10px;
}

.footer_end-title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 2.2;
  letter-spacing: 0.195em;
  color: #fff;
}

.footer_social svg path{
  transition: .3s;
}



.footer_social svg{
  margin-left: 50px;
}



.footer_social span svg{
  margin-left: 0;
}


.footer_social svg:hover path{
  fill: #FF0000;
  transition: .3s;
}










.footer_copywright{
  font-weight: 300;
  font-size: 12px;
  color: #b3b3b3;
  padding-bottom: 30px;
  text-align: center;
  background: #252525;
  padding-top: 30px;
}


/* ===============RESPONSIVE FOOTER END================ */


/* ================1537PX==================== */


@media screen and (max-width:1601px){
  .footer_end-inner{
    max-width: 1250px;
  }
}




@media screen and (max-width:1537px){
  .footer_end-inner {
    max-width: 1075px;
  }
}

@media screen and (max-width:1281px){
  .footer_end-inner {
    max-width: 990px;
  }
}

@media screen and (max-width:1025px){
  .footer_end-inner {
    max-width: 855px;
  }

  .footer_end-inner{
    padding: 20px 10px;
  }


.footer_social svg{
    width: 25px;
    height: 25px;
  }

}


@media screen and (max-width:890px){
  .footer_end-inner {
    max-width: 770px;
  }

  .footer_social svg {
    margin-left: 35px;
  }


  .footer_end-title{
    font-size: 15px;
  }
}

@media screen and (max-width:785px){
  .footer_end-inner {
    max-width: 690px;
  }
}


@media screen and (max-width:700px){
  .footer_end-inner {
    max-width: 600px;
    padding: 10px 10px;
  }

  .footer_end-title{
    font-size: 14px;
  }

  .footer_social svg {
    width: 25px;
    height: 25px;
  }
}


@media screen and (max-width:680px){
  .footer_copywright{
    font-size: 7px;
  }
}



@media screen and (max-width:600px){
  .footer_end-inner{
    max-width: 510px;
  }

  .footer_social svg {
    width: 17px;
    height: 17px;
  }


  .footer_end-title{
    font-size: 10px;
  }

  .support_subtitle{
    font-size: 10px;
  }
}

@media screen and (max-width:550px){
  .footer_social svg {
    width: 22px;
    height: 22px;
  }



  .footer_end-title{
    font-size: 8px;
  }

  .footer_social svg {
    margin-left: 20px;
  }


  .footer_end-inner{
    padding: 8px 10px;
  }

}


@media screen and (max-width:400px){
  .footer_end-inner{
    display: block;
  }

  .footer_end-title{
    margin-bottom: 15px;
  }

  .footer_social{
    margin-bottom: 15px;
  }
}


@media screen and (max-width:320px){
  .footer_social svg {
    width: 13px;
    height: 13px;
  }


}



::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background:#252525;
}

::-webkit-scrollbar-thumb{
  background: rgb(131, 131, 131);
  border-radius: 8px;
  transition: 2s;
}


::-webkit-scrollbar-thumb:hover{
  background: #fff;
  transition: 2s;
}




